@mixin mobile {
	@media (max-width : 1000px) {
		@content;
	}
}

@mixin paralax {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}
