@import url(https://fonts.googleapis.com/css?family=Kreon|Open+Sans:300,400,700);
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    background: rgba(0, 0, 0, .65);
    font-size: 14px;
    color: #f5f8fa;
    height: 40px;
    cursor: pointer
}

button, input[type=text] {
    border: 1px solid #f5f8fa;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    width: 250px
}

input[type=text] {
    background: rgba(237, 240, 242, .65);
    font-size: 16px;
    color: #000;
    text-align: center;
    height: 37px;
    display: block;
    margin: 15px
}

input[type=text]::-webkit-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000
}

input[type=text]::-moz-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000
}

input[type=text]:-ms-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000
}

input[type=text]::placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000
}

h1 {
    font-size: 64px;
    color: #f5f8fa;
    text-shadow: 2px 2px 4px #000
}

h1, h2 {
    font-family: Kreon, serif
}

h2 {
    font-size: 44px;
    color: #000
}

h3 {
    font-weight: 300;
    font-size: 24px;
    color: #f5f8fa;
    text-shadow: 1px 1px 2px #000
}

h3, p {
    font-family: Open Sans, sans-serif
}

p {
    font-weight: 400;
    line-height: 20px
}

p b {
    font-family: Kreon, serif;
    font-size: 18px
}

header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 8vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    z-index: 999;
    position: relative;
    padding-left: 20px;
    background: #f5f8fa
}

header button {
    height: 100%
}

@media (max-width:1000px) {
    header {
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        height: auto;
        min-height: 80px
    }
    header h2 {
        font-size: 34px
    }
    header button {
        height: 40px;
        margin: 10px
    }
}

#login-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-image: url(/redux-weather-app/6bc11f1e93e5b6cac71031a98e653e49.jpg)
}

#login-welcome-message {
    padding: 20px
}

form#login-form {
    width: 250px
}

input#current-location-button {
    margin-top: 40px
}

input#submit-zip-button {
    margin-top: 10px
}

.error {
    color: #fff;
    padding: 20px
}

#seven-day-forecast {
    display: -ms-flexbox;
    display: flex
}

@media (max-width:1000px) {
    #seven-day-forecast {
        display: inherit
    }
}

#seven-day-forecast ::-webkit-scrollbar {
    display: none
}

.weekday-card {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    text-align: center;
    height: 92vh;
    padding: 10px;
    overflow-y: auto
}

.weekday-card h3 {
    color: #000;
    text-shadow: none;
    padding: 20px 0;
    font-weight: 700
}

.weekday-card p {
    padding: 10px 0
}

@media (max-width:1000px) {
    .weekday-card {
        padding: 50px 10px;
        height: 100%
    }
    .weekday-card .main-content {
        max-width: 500px;
        margin: auto;
        background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5));
        padding: 10px
    }
}

.weekday-card.clear {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/0abd9f2549a2abc4a692db4edd9bd7a3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.chanceOfRain {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/16928afd091c27c3ad4c4e3c355b8a11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.partlyCloudy {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/bfd41e72b0cf211a1377068854766571.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.mostlyCloudy {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/6bc11f1e93e5b6cac71031a98e653e49.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.rain {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/295e7e2c00c8e716ea6c71470c9c89cb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.snowShowers {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/82f436f1e6ae913a9e4a0aa0c711da89.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.chanceOfSnow {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/c2686f3bde77d8947d40c4f3b1be671a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.overcast {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/3f80720a0100b6a956da18b056058701.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.thunderstorm, .weekday-card.thunderstorms {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/60bacac2a08e57c8f952a42d87376b11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.weekday-card.snow {
    background: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .5)), url(/redux-weather-app/54267caff35cd891aa6efb83643e2efc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

.conditions {
    padding: 20px 0
}

html {
    box-sizing: border-box
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%
}

*, :after, :before {
    box-sizing: inherit
}
