header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 999;
    position: relative;
    padding-left: 20px;
    background: #F5F8FA;

    button {
      height: 100%;
    }

    @include mobile {
      flex-direction: column;
      text-align: center;
      padding-left: 0px;
      height: auto;
      min-height: 80px;

      h2 {
        font-size: 34px;
      }

      button {
        height: 40px;
        margin: 10px;
      }
    }
}
