#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-image: url('./assets/cloudy.jpg');
}

#login-welcome-message {
    padding: 20px;
}

form#login-form {
    width: 250px;
}

input#current-location-button {
    margin-top: 40px;
}

input#submit-zip-button {
    margin-top: 10px;
}
