#seven-day-forecast {
  display: flex;

  @include mobile {
    display: inherit;
  }
}

.weekday-card {
  flex: 1 1 0;
  text-align: center;
  height: 92vh;
  padding: 10px;
  overflow: auto;

  h3 {
    color: black;
    text-shadow: none;
    padding: 20px 0 20px 0;
    font-weight: 700;
  }

  p {
    padding: 10px 0 10px 0;
  }

  @include mobile {
    padding-bottom: 50px;
    height: 100%;
  }
}

.weekday-card.clear {
  background:
    $whiteOverlay,
    url(./assets/clear.jpg);
}

.weekday-card.chanceOfRain {
  background:
    $whiteOverlay,
    url(./assets/chance-of-rain.jpg);
}


.weekday-card.partlyCloudy {
  background:
    $whiteOverlay,
    url(./assets/partly-cloudy.jpg);
}

.weekday-card.rain {
  background:
    $whiteOverlay,
    url(./assets/rain.jpg);
}

.conditions {
  padding: 20px 0 20px 0;
}
