@import url('https://fonts.googleapis.com/css?family=Kreon|Open+Sans:300,400,700');

h1 {
  font-family: 'Kreon', serif;
  font-size: 64px;
  color: $offWhite;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-family: 'Kreon', serif;
  font-size: 44px;
  color: black;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: $offWhite;
  text-shadow: 1px 1px 2px #000000;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

p b {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Kreon', serif;
  font-size: 18px;
  // font-weight: 700;
}
